@media (min-width: 768px) { 
    /*hero*/
    #hero{
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 32px;
        height: auto;
    }
    #foto_de_perfil{
        width: 146px;
        height: 146px;
        border-radius: 50%;
    }
    .text_hero{
        width: 70%;
    }
    #saludo{
        width: 90%;
    }
    #presentancion{
        width: 90%;
    }
    .link_red{
        width: 90%;
    }
    /*sobre mi*/
    .sobre_mi {
        padding: 32px;
        height: auto;
    }   
    #parrafo_sobre_mi {
        width: 85%;
        height: auto;
    }
    /*skill*/
    #skills {
        padding: 32px;
        width: auto;
        height: auto;
    }
    .skill {
        width: 28%;
    }
    /*Formacion_academica*/
    #Formacion_academica {
        width: auto;
        height: auto;
        padding: 32px;
    }
    #Formacion_box {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        height: auto;
    }
    /*experiencia*/
}