.miDiv {
    /* Estilo inicial del div */
    background-color: white;
    height: 100px;
    width: 100px;
    position: fixed;
    top: 0;
  }
  
  body {
    /* Estilo inicial del fondo */
    background-color: white;
  }
  